<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
                id="Roma_QuickOrder::all"
                title="Quick Order"
                translate="title"
                module="Roma_QuickOrder"
                sortOrder="30"
                dependsOnModule="Roma_QuickOrder"
                resource="Roma_QuickOrder::all"
        />
        <add
                id="Roma_QuickOrder::quickorder"
                title="Quick Order UI Grid"
                translate="title"
                module="Roma_QuickOrder"
                sortOrder="10"
                parent="Roma_QuickOrder::all"
                action="quickorder/quickorder/listing"
                resource="Roma_B2BCustomers::quickorder"
        />
    </menu>
</config>